
@model IEnumerable<Chuanhoafile.Models.Recomment>

<table id="places" class="table nowrap table-bordered table-striped mt-5 table-data">
    <thead>
        <tr>
            <th>Ngày</th>
            <th>Người gửi</th>
            <th>Nội dung</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item != null)
            {
                <tr>
                    <td>@item.DateUpdate</td>
                    <td>@item.Author</td>
                    <td>@item.Content</td>
                    <td class="text-center">
                        <button class="btn btn-primary action-btn border-0" data-toggle="ajax-modal" data-target="#order-model" data-url="@(Url.Action("Create") + "/" + item.Id)">
                            <span>Xem</span>
                        </button>
                        <button class="btn btn-danger action-btn border-0" data-toggle="ajax-modal" data-target="#delete-model" data-url="@(Url.Action("Delete") + "/" + item.Id)">
                            <span>Xóa</span>
                        </button>
                    </td>

                </tr>
            }
        }

    </tbody>
</table>

